@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden !important;
    color: aqua;
    background: linear-gradient(to right, #06241b, #062424, #06241b);
}

.mainStyle {
    height: 100vh;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #062624;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #0a3b2b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-item {
    padding: 5px 8px;
    border-radius: 10px;
    transition: 0.3s ease-in;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.nav-item.active {
    background: #0b3929;
    color: aqua;
    border: 2px solid #092e21;
    outline: none;
}

nav ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav ul li {
    position: relative;
    list-style-type: none;
}

nav ul li a {
    font-size: 20px;
    letter-spacing: 0.8px;
    text-decoration: none;
    font-weight: 600;
    color: #1ca894;
    position: relative;
}

nav ul li a:hover {
    color: aqua;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: aqua;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #1ca894;
    font-size: 30px;
    cursor: pointer;
}


#menuList {
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

#menuList.open {
    max-height: 350px;
}

section {
    height: 100vh;
    padding-top: 75px;
}

@media (max-width:768px) {
    nav ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #062422;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
    }

    .menu-icon {
        display: block;
    }
}


.fa-instagram {
    color: #E1306C;
}

.fa-github {
    color: #333333;
}

#homeSection {
    max-width: 100%;
    overflow-x: hidden;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding-top: 70px;
}


.TypeAnimation {
    font-size: 2rem;
}

.typing-effect {
    font-size: 1.5rem;
    color: #00ffd5;
    font-weight: bold;
    display: inline-block;
    padding-right: 5px;
    animation: colorChange 5s ease-in-out infinite, blink 0.75s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes colorChange {
    0% {
        color: #7854db;
    }

    25% {
        color: #d57ef0;
    }

    50% {
        color: #f368e0;
    }

    75% {
        color: #cae70f;
    }

    100% {
        color: #1dd1a1;
    }
}

.typing-effect {
    position: relative;
    padding-left: 20px;
}

.typing-effect h2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: aqua;
    line-height: 42px;
}

.text-effect {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: aqua;
    margin-right: 10px;
}

.typing-effect::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, #3eece4, #dc46df, #deec1a);
    animation: gradientMove 2s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 100%;
    }
}

.pushable {
    background: hsl(274, 80%, 58%);
    border: none;
    border-radius: 12px;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(173, 86%, 43%);
    color: #000;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.profile {
    position: relative;
    width: 300px;
    height: 350px;
    background-size: cover;
    border: 1px solid #142e13;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.5s;
    border-top-right-radius: 35px;
    overflow: hidden;
}

.profile:hover {
    transform: scale(1.05);
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.profile:hover .overlay {
    opacity: 1;
}

.about h4 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.about span {
    font-size: 1em;
    color: #ddd;
}

.social-icons {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 20px;
    margin-top: 0;
}

.social-icons li {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    font-size: 1.2em;
    transition: all 0.3s;
}

.social-icons li:hover {
    background: #fff;
    color: #000;
}

/* Responsive Adjustments */

@media (max-width: 1000px) {
    #homeSection {
        flex-direction: column;
        padding-top: 70px;
        min-height: auto;
    }

    .TypeAnimation {
        font-size: 1.5rem;
    }

    .typing-effect {
        font-size: 1.6rem;
        padding-left: 10px;
        text-align: center;
    }

    .typing-effect h2,
    .text-effect {
        font-size: 1.5rem;
        text-align: center;
    }

    .profile {
        width: 280px;
        height: 320px;
    }

    .social-icons {
        bottom: 15px;
    }

    .social-icons li {
        width: 35px;
        height: 35px;
        font-size: 1.1em;
    }


    @media (max-width: 768px) {
        .TypeAnimation {
            font-size: 1.5rem;
        }

        .typing-effect {
            font-size: 1.4rem;
        }

        .profile {
            width: 240px;
            height: 280px;
        }

        .social-icons li {
            width: 30px;
            height: 30px;
        }


        .typing-effect::before {
            display: none;
        }
    }

    @media (max-width: 576px) {
        .typing-effect h2 {
            font-size: 1.25rem;
        }

        .typing-effect {
            font-size: 1.25rem;
            text-align: center;
        }

        .TypeAnimation {
            font-size: 1.2rem;
        }

        .profile {
            width: 200px;
            height: 250px;
        }

        .social-icons li {
            width: 25px;
            height: 25px;
            font-size: 1em;
        }

        .typing-effect::before {
            display: none;
        }
    }
}


.footer-container {
    overflow-x: hidden !important;
}

.footer-container {
    background: transparent;
    position: relative;
    padding: 20px;
    color: #fff;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top: 1px solid #0a3b2b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.footer-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.background-element {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #154e2e7a;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.7;
    z-index: 1;
}

.background-element:first-of-type {
    top: -20px;
    left: 20px;
    transform: rotate(180deg);
}

.background-element:last-of-type {
    bottom: -20px;
    right: 20px;
}

.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.glass-card {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    color: aqua;
    width: 250px;
    text-align: center;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    z-index: 2;
}

.glass-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background: radial-gradient(circle, rgba(65, 144, 171, 0.5) 0%, rgba(0, 201, 255, 0) 70%);
    z-index: -1;
    filter: blur(20px);
}

.glass-card:hover {
    transform: scale(1.05);
}

.glass-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.glass-card p {
    font-family: "Roboto", sans-serif;
    margin: 5px 0;
    font-size: 1em;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .glass-card {
        width: 80%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .glass-card {
        font-size: 0.9em;
        padding: 15px;
    }

    .glass-card h3 {
        font-size: 1.2em;
    }

    .glass-card p {
        font-size: 0.9em;
    }
}

#aboutME {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: transparent;
}

.aboutME_card {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about_heading {
    font-size: 2.5em;
    text-align: center;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 2px aqua;
    background: linear-gradient(90deg, aqua, #00ffff, aqua);
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradientShift 5s linear infinite;
    margin-bottom: 20px;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.about_heading::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 3px;
    background-color: aqua;
    transition: width 0.3s ease-in-out;
}

.about_heading:hover::after {
    width: 18%;
}

.about_para {
    padding: 15px;
    font-size: 1.2em;
    line-height: 1.6;
    color: aqua;
    text-align: justify;
}

@media (max-width: 992px) {
    .about_heading {
        font-size: 2em;
    }

    .about_para {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .about_heading {
        font-size: 1.8em;
    }

    .about_para {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .about_heading {
        font-size: 1.6em;
    }

    .about_para {
        font-size: 0.8em;
    }
}
